<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/notice.css}">

</head>
    <body>
    <div th:replace="fragments/header::header"></div>
        <ul class = "body" id="notifications" >
            <li th:each="notice:${notifications}">
                <a th:href="'/'+${notice.getPostId()}" >
                    <span th:text="${notice.getMessage()}"></span>
                    <span th:text="${notice.getTime()}"></span>
                </a>
            </li>
        </ul>

    </body>
</html>