<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/notice.css}">
    <script>
        var stompClient = null;
        function connect() {
            var socket = new SockJS('/gs-guide-websocket');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function (frame) {
                stompClient.subscribe('/topic/notifications', function (notification) {
                    showNotification(JSON.parse(notification.body));
                });
            });
        }

        function showNotification(notification) {
            let check= [[${userId}]];

            if( check=== notification.userId) {
                let notificationsList = document.getElementById('notifications');
                let newItem = document.createElement('li');
                newItem.innerHTML = '<a href="/' + notification.postId + '">' +
                    '<span>' + notification.message + '</span>' +
                    '<span>' + notification.time + '</span>' +
                    '</a>';
                notificationsList.insertBefore(newItem, notificationsList.firstChild);
            }
        }

        window.onload = function() {
            connect();
        };
    </script>
</head>
    <body>
        <div class="header">
    <ul>
        <li><img style="width: 70px" th:src="@{../file/logo.png}" alt=""></li>
        <li><a href="/post/latest"><h2>Post</h2></a></li>
        <li><a href="/question/latest"><h2>Question</h2></a></li>
    </ul>
        <ul class="right">
            <li>
                <form action="/search" method="get" class="find">
                    <input type="text" placeholder="Search in FoxGraphy">
                    <img th:src="@{../file/searchIcon.png}" alt="">
                </form>
            </li>
            <li><a th:href="'/notifications/'+${userID}"><img class="icon" th:src="@{../file/notificationIcon.png}" alt=""></a></li>
            <li><a href="/create"><img class="icon"  th:src="@{../file/writeBlog.png}" alt=""></a></li>
            <li><a href=""><img class="icon" id="avatar" th:src="@{${avatarUser}}" alt=""></a></li>
        </ul>

</div>
        <ul class = "body" id="notifications" >
            <li th:each="notice:${notifications}">
                <a th:href="'/'+${notice.getPostId()}" >
                    <span th:text="${notice.getMessage()}"></span>
                    <span th:text="${notice.getTime()}"></span>
                </a>
            </li>
        </ul>
        <script>
            const search = document.getElementById("search");
            search.addEventListener('keydown', (event) =>{
                if(event.key=== "Enter"){
                    let keyword =search.value;
                    if(keyword) {
                        fetch(`/search?keyword=${encodeURIComponent(keyword)}`)
                    }
                }
            })
        </script>
    </body>
</html>