<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/43.1.0/ckeditor5.css">
    <script src="https://cdn.ckeditor.com/ckeditor5/43.1.0/ckeditor5.umd.js"></script>
    <link rel="stylesheet" th:href="@{/css/profile_user.css}">
    <title>Profile User</title>
</head>

<body>
    <div class="header">
        <ul>
            <li><img style="width: 70px" th:src="@{/file/logo.png}" alt="Logo"></li>
            <li><a href="">
                    <h2>Post</h2>
                </a></li>
            <li><a href="">
                    <h2>Question</h2>
                </a></li>
        </ul>
        <ul class="right">
            <li>
                <div class="find">
                    <input type="text" placeholder="Search in FoxGraphy">
                    <img th:src="@{/file/searchIcon.png}" alt="Search Icon">
                </div>
            </li>
            <li><img class="icon" th:src="@{/file/notificationIcon.png}" alt="Notification Icon"></li>
            <li><a th:href="@{/hhh}"><img class="icon" th:src="@{/file/writeBlog.png}" alt="Write Blog Icon"></a></li>
            <li><a href=""><img class="icon" id="avatar" th:src="@{/file/avatar_default.png}" alt="Avatar"></a></li>
        </ul>
    </div>

    <!-- profile_user  -->
    <form class="profile-form" th:action="@{/profile}" method="POST">
        <div class="avatar-container">
            <div class="inner-avatar">
                <img th:src="@{/avatar.png}" alt="Avatar" class="avatar">
            </div>
            <button class="avatar-button">Change avatar</button>
            <input type="file" name="avatar" class="d-none" id="">
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" th:value="${user.username}">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" th:value="${user.email}">
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text" name="phone" id="phone" th:value="${user.phone}">
            </div>
            <div class="form-group">
                <label for="gender">Gender</label>
                <input type="text" name="gender" id="gender" th:value="${user.gender}">
            </div>
        </div>
    </form>
    <!--End profile_user  -->
</body>

</html>